
main{
  display: flex;
  justify-content: center;
}


.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.gallery >img{
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 4px;
  border: 2px solid black;
  box-shadow: black 0 2px 2px 0;
  border-radius: 5px;
}