*{
  padding: 0;
  margin: 0;
}
nav{
  margin-bottom: 20px;
}
nav >ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  height: 40px;
  align-items: center;
}
nav>ul>li>a{
  color: #222;
  text-decoration: none;
}
nav>ul>li>a:hover{
  color: pink;
  text-decoration: underline;
}
header{
  text-align: center;
}
main>p{
  text-align: center;
}
header>h1{
  margin-bottom: 10px;
}